<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/hibernate</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <!-- Log SQL queries -->
        <property name="format_sql">false</property>
        <property name="use_sql_comments">false</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        <!--<property name="hbm2ddl.auto">validate</property>-->
        <!-- MAPPINGS -->
        <mapping class="com.hibernate.model.User"/>
        <mapping class="com.hibernate.model.Room"/>
        <mapping class="com.hibernate.model.Message"/>
    </session-factory>
</hibernate-configuration>